<head>
    <style type="text/css">
        form#custom27_form table.uir-outside-fields-table {
            width: 97%;
        }

    </style>
</head>
<body>
    <!-- Avg Rev Per Month Per Quarter -->
    <div style="width: 100%;">
        <canvas id="bar-chart-revenue-per-month" width="400" height="200"></canvas>
    </div>
</body>