<head>
    <style type="text/css">
        form#custom26_form table.uir-outside-fields-table {
            width: 75%;
        }

    </style>
</head>
<body>
    <!-- time utilized vs time productive -->
    <hr>
    <div style="width: 100%;">
        <canvas id="bar-chart-time-analysis" width="800" height="400"></canvas>
    </div>
</body>